
.page-template-default {
	img.topper {
		position: absolute;
		top: 0;
		width: 100vw;
		max-width: none;
	}
	.entry-content {
		padding-top: 5.381rem;
		padding-top: clamp(5.381rem, 3.734rem + 4.393vw, 7.688rem);
		padding-bottom: 12.206rem;
		padding-bottom: clamp(12.206rem, 8.47rem + 9.964vw, 17.438rem);
		@include breakpoint(medium) {
			padding-top: 7.688rem;
			padding-top: clamp(5.381rem, 3.734rem + 4.393vw, 7.688rem);
			padding-bottom: 17.438rem;
			padding-bottom: clamp(12.206rem, 8.47rem + 9.964vw, 17.438rem);
		}
	}
}