.gform_wrapper.gravity-theme {
	p.gform_required_legend {
		@extend .show-for-sr;
	}
	form {

		.gform_fields {
			grid-row-gap: 24px;
			@media (min-width: 641px) {
				grid-row-gap: 46px;
				grid-column-gap: 56px;
			}
		}
		label,
		.gfield_label,
		.ginput_complex legend {
			font-weight: bold;
			color: $color-mint;
			font-size: 1rem;
			margin-bottom: 2px !important;
		}
		.ginput_complex {
			> *:not(:last-child) {
				@media (max-width: 640px) {
					margin-bottom: 19px;
				}
			}
			&.ginput_container--name .gform-field-label--type-sub {
				margin-bottom: -9px !important;
			}
		}
		[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea, select {
			border: 2px solid $color-mint;
			background: transparent;
			min-height: rem-calc(65);
			color: $white;
			&:focus {
				background: transparent;
				border: 2px solid $color-mint;
			}
		}
		.gfield_checkbox .gchoice {
			position: relative;
			margin: .5rem 0;
			
			input[type="checkbox"] {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;		
				&:checked ~ label::before {
					background-color: $color-mint;
					border-color: $color-mint;
				}
			}
		
			label {
				position: relative;
				padding-left: 30px;
				cursor: pointer;
				display: inline-block;
				line-height: 25px;
		
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 2px;
					height: 20px;
					width: 20px;
					background-color: transparent;
					border: 2px solid $color-mint;
					border-radius: 0;
				}
			}
		}
		.gfield--type-radio {
			.gfield_label {
				margin-bottom: 1rem !important;
			}
			.ginput_container_radio {
	
				.gfield_radio {
					display: grid;
					grid-template-columns: 1fr 1fr;
					gap: 10px;
					align-items: flex-start;
					@media (min-width: 768px) {
						grid-template-columns: 1fr 2fr;
						grid-template-columns: max-content max-content;
						width: fit-content; 
						column-gap: 2rem;
					}
	
					.gchoice {
						display: flex;
						align-items: center;
						position: relative;
						label {
							padding-left: 6px;
							&:before {
								content: '';
								display: block;
								width: 16px;
								height: 16px;
								border: 2px solid $color-mint;
								background-color: transparent;
								border-radius: 100%;
								position: absolute;
								top: 5px;
								left: 0;
							}
						}
						input {
							margin: 0;
							opacity: 0;
							&:checked + label:before {
								background-color: $color-mint;
							}
						}
					}
					.gfield-choice-input {
						margin-right: 10px; /* Adjust space between radio button and label */
					}
				}
			}
		}
		@media (min-width: 641px) {
			.ginput_container_address {
				.ginput_address_city,
				.ginput_address_zip {
					padding-left: .9804%;
					padding-right: 29px;
				}
				.ginput_address_state {
					padding-right: .9804%;
					padding-left: 29px;
				}
			}
		}
		.gform_footer {
			padding-bottom: 0;
			margin-bottom: 0;
			input {
				@extend .border;
				margin-bottom: 0;
			}
		}
	}

}

@media only screen and (max-width: 641px) {
	.gform_wrapper.gravity-theme input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]), select {
		line-height: 2;
		min-height: rem-calc(50) !important;
	}
}

@media (min-width: 641px) {
	.gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) fieldset:not([style*="display:none"]):not(.ginput_full):first-child, 
	.gform_wrapper.gravity-theme .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full):first-child {
		padding-right: 46px !important;
	}
}