header.site-header {
	position: relative;
	z-index: 5555;
	box-shadow: 0px 12px 6px 0px rgba(0,0,0,0.76);
	transition: transform .5s ease;
	padding: rem-calc(20) 0;
	background-color: $color-charcoal;
	@include breakpoint(xlarge) {
		padding: rem-calc(40) 0;
	}
	#top-bar-menu {
		
		li.logo {
			max-width: 200px;
			@include breakpoint(medium) {

			}
			@include breakpoint(large) {
				//max-width: 200px;
			}
			a {
				padding: 0;
			}			
		}
		.top-bar-left {
			justify-content: center;
			@media (max-width: 767px) {
				padding-bottom: 24px;
				width: 100%;
			}
			@include breakpoint(tablet) {
				justify-content: flex-start;
			}
		}
		.top-bar-right {
			align-items: flex-end;
			@include breakpoint(xlarge) {
				justify-content: flex-end;
				align-items: center;
			}
			> .grid-x {
				justify-content: center;
				@include breakpoint(tablet) {
					justify-content: flex-end;
				}
			}
			.main-nav {
				@include breakpoint(large down) {
					margin-top: 1rem;
				}
				> li {
					&:not(:first-child) {
						margin-left: 1rem;
						@include breakpoint(large) {
							margin-left: 3.4rem;
						}
					}
					a {
						font-weight: 700;
						text-transform: uppercase;
						color: $white;
						transition: color .2s ease;
						&:hover,
						&:focus {
							color: $color-mint;
						}
						span:after {
							content: '';
							display: block;
							width: 100%;
							height: 2px;
							background-color: transparent;
						}
					}
					&.current-menu-item {
						a span:after {
							background-color: $color-mint;
						}
					}
				}
				.submenu {
					padding: rem-calc(20);
					border-radius: 6px;
					li.current-menu-item {
						a {
							color: $color-mint;
						}
					}
				}
			}
			.btns-wrap {
				justify-content: center;
				@include breakpoint(tablet) {
					justify-content: flex-end;
				}
				@media (max-width: 459px) {
					> .cell {
						width: auto;
					}
				}
				&.mobile {
					display: none;
					@media (max-width: 549px) {
						justify-content: flex-start;
						>.cell:nth-child(2) {
							display: none;
						}
					}
				}
				@media (max-width: 767px) {
					&.mobile {
						display: flex;
						width: 100%;
					}
					&.desktop {
						display: none;
					}
				}
			}
		}
			
		#main-nav {
			align-items: center;
			>li {
				margin: 0 .3rem 0rem;
				
				> a {
					font-size: rem-calc(21);
					text-transform: uppercase;
					letter-spacing: 2.1px;
					padding: 1.78rem 0.5rem 1.78rem;
					position: relative;
					
					@include breakpoint(tablet) {
						font-size: rem-calc(14);
						letter-spacing: 1.4px;
					}
					
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $white;
				}
			}


			}
		}
		
		.button {
			@media (min-width: 460px) {
				margin-bottom: 0;
			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    // flex: 1;
			flex: 0 0 auto;
			@media (max-width: 767px) {
				width: 100%;
			}
			
		    a#menu-toggle {
			    padding: 0;
			    width: 46px;
			    height: 42px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 46px;
				    height: 4px;
				    background-color: $color-mint;
					border-radius: 4px;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 0;
				    }

				    &:nth-child(2) {
					    top: 19px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 0;
				    }
			    }

				&:hover,
				&:focus {
					span {
						background-color: $white;
					}
				}

		    }
		    
		}
	
	}
	
}


.off-canvas-wrapper {
	.off-canvas.position-right {
	}
	.off-canvas-content.is-open-right.has-transition-push {
		transform: translateX(0px);
	}
	.off-canvas.position-right {
		width: 100%;
		max-width: 480px;
		padding-bottom: 4rem;
		transform: translateX(100%);
		&.is-open {
			transform: translateX(0);
		}
		.inner {
			position: relative;
			z-index: 5;
			padding: 0 18px;
			.close-menu {
				padding: 10px 0;
				margin-right: -12px;
				svg g {
					transition: .25s ease;
				}
				a:hover {
					svg g {
						fill: $white;
					}
				}
			}
		}
		ul#offcanvas-nav {
			padding-bottom: 32px;
			> li {
				margin-bottom: 24px;
				&.is-accordion-submenu-parent {
					.submenu-toggle {
						&:after {
							width: auto;
							height: auto;
							border: 0;
							content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="%23fff" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>');
							transition: transform .3s ease;
						}
						&[aria-expanded="true"]:after {
							transform: rotateX(180deg);
						}
					}
				}
				.submenu {
					li { 
						a {
							padding-left: 2.5rem;
						}
						&.current-menu-item a {
							color: $color-mint;
						}
					}
				}
			}
			a {
				font-size: clamp(0.938rem, 0.81rem + 0.545vw, 1.219rem);
				color: $white;
				font-weight: bold;
				text-transform: uppercase;
				transition: color .25s ease;
				&:hover,
				&:focus {
					color: $color-mint;
				}
			}
		}
		.btns-wrap {
			.button {
				margin-bottom: 38px;
			}
		}
	}
}