.color-white {
	color: $white;
}
.color-body-white {
	color: $color-body-white;
}
.color-mint {
	color: $color-mint;
}
.weight-medium {
	font-weight: 500;
}
.font-header {
	font-family: $font-header;
}
.font-body {
	font-family: $font-body;
}
.uppercase {
	text-transform: uppercase;
}
.m-0 {
	margin: 0;
}